<header></header>

<!--//-->
<div class=" header-right">
  <div class="banner">
    <div class="slider">
      <div class="callbacks_container">
        <ul class="rslides" id="slider">
          <li>
            <div class="banner1">
              <div class="caption">
                <h3><span>vivam</span>us site</h3>
                <p>Nunc dignissim risus idi</p>
              </div>
            </div>
          </li>
          <li>
            <div class="banner2">
              <div class="caption">
                <h3><span>vivam</span>us site</h3>
                <p>Nunc dignissim risus idi</p>
              </div>
            </div>
          </li>
          <li>
            <div class="banner3">
              <div class="caption">
                <h3><span>vivam</span>us site</h3>
                <p>Nunc dignissim risus idi</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--header-bottom-->
<div class="banner-bottom-top">
  <div class="container">
    <div class="bottom-header">
      <div class="header-bottom">
        <div class=" bottom-head">
          <a ui-sref="#">
            <div class="buy-media">
              <i class="buy"> </i>
              <h6>Buy</h6>
            </div>
          </a>
        </div>
        <div class=" bottom-head">
          <a ui-sref="rent">
            <div class="buy-media">
              <i class="rent"> </i>
              <h6>Rent</h6>
            </div>
          </a>
        </div>
        <div class=" bottom-head">
          <a ui-sref="#">
            <div class="buy-media">
              <i class="pg"> </i>
              <h6>Hostels</h6>
            </div>
          </a>
        </div>
        <div class=" bottom-head">
          <a ui-sref="#">
            <div class="buy-media">
              <i class="sell"> </i>
              <h6>Resale</h6>
            </div>
          </a>
        </div>
        <div class=" bottom-head">
          <a ui-sref="#">
            <div class="buy-media">
              <i class="loan"> </i>
              <h6>Home Loans</h6>
            </div>
          </a>
        </div>
        <div class=" bottom-head">
          <a ui-sref="#">
            <div class="buy-media">
              <i class="apart"> </i>
              <h6>Projects</h6>
            </div>
          </a>
        </div>
        <div class=" bottom-head">
          <a ui-sref="#">
            <div class="buy-media">
              <i class="deal"> </i>
              <h6>Dealers</h6>
            </div>
          </a>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
<!--//header-bottom-->

<!--content-->
<div class="content">
  <div class="content-grid">
    <div class="container">
      <h3>Most Popular</h3>
      <div class="col-md-4 box_2">
        <a href="single.html" class="mask">
          <img class="img-responsive zoom-img" src="images/popular/pc4.jpg" alt="">
          <span class="four">40,000$</span>
        </a>
        <div class="most-1">
          <h5><a href="single.html">Contrary to popular</a></h5>
          <p>Lorem ipsum</p>
        </div>
      </div>
      <div class="col-md-4 box_2">
        <a href="single.html" class="mask">
          <img class="img-responsive zoom-img" src="images/popular/pc5.jpg" alt="">
          <span class="four">40,000$</span>
        </a>
        <div class="most-1">
          <h5><a href="single.html">Contrary to popular</a></h5>
          <p>Lorem ipsum</p>
        </div>

      </div>
      <div class="col-md-4 box_2">
        <a href="single.html" class="mask">
          <img class="img-responsive zoom-img" src="images/popular/pc3.jpg" alt="" >
          <span class="four">40,000$</span>
        </a>
        <div class="most-1">
          <h5><a href="single.html">Contrary to popular</a></h5>
          <p>Lorem ipsum</p>
        </div>

      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--popular-->
<!--footer-->
<div class="footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="col-md-4 footer-logo">
        <h2><a href="#">REAL HOME</a></h2>
      </div>
      <div class="col-md-8 footer-class">
        <p >© 2015 Real Home. All Rights Reserved | Design by  <a href="http://kevin-njoroge.branded.me/" target="_blank">Kevin Nganga</a> </p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--//footer-->
