<navigation></navigation>

<div class="login-right">
    <div class="container">
        <h3>Login</h3>
        <div class="login-top">
            <div class="form-info">
                <form name="loginForm" ng-submit="authorizeLogin(user)">
                    <input type="text" class="text" placeholder="Email Adress" ng-model="user.email">
                    <input type="password"  placeholder="Password" ng-model="user.password">
                    <label class="hvr-sweep-to-right">
                        <input type="submit" value="Submit">
                    </label>
                </form>
            </div>
            <div class="create">
                <h4>New To Real Home?</h4>
                <a ui-sref="register" class="hvr-sweep-to-right" >Create an Account</a>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
